body{
    margin-left: 1%;
    margin-right: 1%;
}

div#content div{
    
    display: inline-block;
     
}


div#content div.leftbox{
    background-color: rgb(255, 217, 0);
    vertical-align: top;
    width: 71%;
    

}
div#content div.rightbox{

}
.class1{
background-color: darkgreen;
width: 100%;
}

.header_div{
    background-color: rgb(0, 0, 0);
}
.logo{
    background-color: black;
    background-size: 150px;
    background-repeat: no-repeat;
    height: 100px;
    padding-left: 45%;
}
#charp{
    color: rgb(255, 255, 255);
    text-align: center;
}

.responsive {
    width: 100%;
    max-width: 800px;
    height: auto;
  }





  #travaux{
      background-image: url(../img/img_4.gif);
  }
.img5{
    margin-top: 10px;
    margin-left: 200px;
    float: left;
}

.img6{
    margin-left: 250px;
    margin-top: 100;
    float : right;
}

.img7{
    float: left;
    margin-left: -100px;
}

.img8{
    float : right;
}

